@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: #faeffc;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: #c7a6df;
  color: #161414;
}

::-moz-selection {
  background-color: #c7a6df;
  color: #161414;
}
